<!DOCTYPE html>
<html>
<head>

  <script src='lib/jquery.min.js'></script>
  <script src='lib/moment.min.js'></script>
  <script src="/javascripts/reset.js"></script>

</head>
  <% include ../layout/head %>

  <body id="page-top">


    <% include ../layout/topo %>


      <div id="wrapper">

        <% include ../layout/menuesquerdo %>


        <div id="content-wrapper">

                <div class="container-fluid">

                  <div class="col-lg">

                  <h1>Reset</h1>
                  <br>
                  <div>
                    <h4><strong>Atenção!!!</strong></br></h4>
                      <h5>Ao clicar no botao abaixo, todos os jogadores cadastrados serão marcados como "Presentes".
                      Os jogadores presentes, ficam disponiveis na lista de sorteio. Esta opcao deve ser marcada, ao iniciar o jogo, feito disso
                      acesse a tela "Cadastrar" e remova de acordo com a presença em quadra.</h5>

                  </div>
                  <button id="btn-reset" class="btn btn-danger" type="button" > Resetar</button>

                 </div>


          </div>
          <!-- /.container-fluid -->

        <% include ../layout/footer %>

        </div>
        <!-- /.content-wrapper -->

      </div>

      <% include ../layout/rodape %>


  </body>

</html>
