<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- CSS do Bootstrap (obrigatório) -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

      <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src = "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->



       <% include ../layout/head %>
       <script src="/javascripts/mural.js"></script>
       <link rel="stylesheet" href="/css/dashboard/mesh.min.css">
       <link rel="stylesheet" href="/css/dashboard/dashboard.css">
       <link rel="stylesheet" href="/css/custom.css">

   </head>
   <body class="nav-sm">
     <div class="container body">
           <div class="main_container">
           <% include ../layout/menuesquerdo %>
           <% include ../layout/topo %>

              <div class="right_col" role="main" style="min-height: 1410px;">


   <!----------------------------------------------------------------------------------------------->
                  <div>
                    <h3>Index </h3>
                  </div><br>


            <section class="content">
                <div class="x_panel">

                  <div class="box-body" ng-show="toggle_search">



                           <div id="infos" class="row">
                             <div class="col-md-4">
                                <div  class="box-body">

                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-20 col-form-label"><small>Valor total mensal</small></label>
                                  <div class="col-sm-20">
                                    <input type="number" class="form-control" id="v_mensal">
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-20 col-form-label"><small>Total mensalistas</small></label>
                                  <div class="col-sm-20">
                                    <input type="number" class="form-control" id="t_mensalistas">
                                  </div>
                                </div>


                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-20 col-form-label"><small>Valor por pessoa</small></label>
                                  <div class="col-sm-20">
                                    <input type="number" class="form-control" id="v_pessoa">
                                  </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-20 col-form-label">  <label  class="col-sm-1 col-form-label"><button id="btn-calc" type="button" class="btn btn-primary" >Calcular</button></label></label>
                                </div>

                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-20 col-form-label"><small>Valor avulso (visitante)</small></label>
                                  <div class="col-sm-20">
                                    <input type="number" class="form-control" id="v_avulso" disabled="disabled">
                                  </div>
                                </div>

                           </div>


                               <div class="row">
                                 <h2>Localização</h2>
                                 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58512.56040922878!2d-46.8316034!3d-23.5671855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60806a6be1dd312f!2sClub+Aldeia+de+Carapicu%C3%ADba!5e0!3m2!1spt-BR!2sbr!4v1535937844623" width="250" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                               </div>
                           </div>



                   </div><br>


               </div>
           </section><br>



                      <!--<footer>
                      <% include ../layout/footer %>
                      <footer>-->

   <!----------------------------------------------------------------------------------------------->


                     <% include ../layout/footer %>


             </div>

           </div>
     </div>
   </body>

   </html>
