
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Otavio Rojas 2018</span>

      <a  target="_blank" href="https://www.facebook.com/vinicius.rojas.7" id="fa"  class="fa fa-facebook"></a>
      <a href="https://plus.google.com/u/1/116426989818983176096?tab=mX"  target="_blank" id="fa"  class="fa fa-google"></a>
      <a href="https://www.linkedin.com/in/otavio-vinicius-rojas-6bb26394/"  target="_blank" id="fa"  class="fa fa-linkedin"></a>

    </div>
  </div>
</footer>
