<!-- Sidebar -->
<ul class="sidebar navbar-nav">



          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Inicio</span>
            </a>
          </li>

          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-futbol"></i>
                  <span>Jogo</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, -107px, 0px);">

                  <a class="dropdown-item" href="/lista"><i class="fa fa-user-plus"></i>  Pré sorteio</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/sorteio"><i class="fas fa-trophy"></i> Sortear</a>

                </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/mensalistas">
              <i class="far fa-money-bill-alt"></i>
              <span>Mensalistas</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/visitantes">
              <i class="fa fa-group"></i>
              <span>Visitantes</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/reset">
              <i class="fas fa-fw fa-trash"></i>
              <span>Reset</span>
            </a>
          </li>



</ul>
