<!DOCTYPE html>
<html>
<head>
  <link href="/css/custom.css" rel="stylesheet">
  <script src='lib/jquery.min.js'></script>
  <script src='lib/moment.min.js'></script>
  <script src="/javascripts/nomes.js"></script>

</head>
  <% include ../layout/head %>

  <body id="page-top">


    <% include ../layout/topo %>


      <div id="wrapper">

        <% include ../layout/menuesquerdo %>


        <div id="content-wrapper">

                <div class="container-fluid">
                  <div class="col-lg">

                  <h1>Nomes</h1>


                  <form  onsubmit="return confirm('Remover jogadores do sorteio?')" action="/nomes/att" method="post">

                      <div class="box-body no-padding">
                                  <table id="table" class="table table-striped">
                                      <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th> </th>
                                          </tr>
                                      </thead>
                                      <tbody>

                                      </tbody>
                                  </table>
                        </div>



                        <button class="btn btn-primary" type="submit"> Remover sorteio</button>



                  </form>

                </div>

                </div>


          </div>
          <!-- /.container-fluid -->

        <% include ../layout/footer %>

        </div>
        <!-- /.content-wrapper -->

      </div>

      <% include ../layout/rodape %>


  </body>

</html>
